extends layout

block content
    head
        h1= title
    ul
        li
            a(href='websocket') WebSocket
        li
            a(href='webworker') Web Workers
        li File API, Blob, TypedArray
        li Indexed Database
        li XHR 2, Twitter API, OAuth, XSS
        li Node.js, nue.node, row socket
        li push Knotifications
        li Desktop Notifications
        li less, Bootstrap
        li パララックス
        li レスポンシブ
        li WebRTC
        li Sencha, MVC
        li Google Extension, Firefox packaged apps
        li CSS Filter
        li CSS Shader
        li canvas, setKeyFrame