extends layout

block content
    head
        h1= title
    label from
        input#fromNumber(type='number', value='2')
    label to
        input#toNumber(type='number', value='999999')
    button#startButton Start
    output#output
    script(src='javascripts/webworker.js')