body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

output {
    display: block;
    overflow: scroll;
    height: 8em;
    box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.5);
    font-family: Menlo, monospace;
    word-break: break-all;
}

textarea {
    display: block;
    width: 100%;
    height: 2em;
}

#dropArea {
    border: dashed silver 3px;
    text-align: center;
    color: silver;
    padding: 8px;
}

dt {
    float: left;
    width: 12em;
}